.spinner {
    border: 4px solid rgba(0, 123, 255, 0.3); /* Цвет спиннера */
    border-top: 4px solid #007bff; /* Цвет верхней границы спиннера */
    border-radius: 50%; /* Создаем круглый спиннер */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Анимация спиннера */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  